/***** Label colors *****/

.label-red {
    /*background-color: #D11141;*/
    background-color: #D9534F;
}
.label-red.conn:hover,
.label-red.hist:hover {
    /*background-color: #AC0E35;*/
    background-color: #C9302C;
}
.label-orange {
    background-color: #F37735;
}
.label-orange.conn:hover,
.label-orange.hist:hover {
    background-color: #F15E0F;
}
.label-yellow {
    background-color: #FFC425;
}
.label-yellow.conn:hover,
.label-yellow.hist:hover {
    background-color: #FCB800;
}
.label-green {
    /*background-color: #00B159;*/
    background-color: #5CB85C;
}
.label-green.conn:hover,
.label-green.hist:hover {
    /*background-color: #008A45;*/
    background-color: #449D44;
}
.label-cyan {
    background-color: #21AABD;
}
.label-cyan.conn:hover,
.label-cyan.hist:hover {
    background-color: #1B8B9B;
}
.label-blue {
    background-color: #107FC9;
}
.label-blue.conn:hover,
.label-blue.hist:hover {
    background-color: #0D69A5;
}
.label-pink {
    background-color: #FF6B6B;
}
.label-pink.conn:hover,
.label-pink.hist:hover {
    background-color: #FF4343;
}
.label-grey {
    background-color: #777777;
}
.label-grey.conn:hover,
.label-grey.hist:hover {
    background-color: #636363;
}
.label-white {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
}

/***** Bootstrap overwrite *****/

h3 {
    margin-bottom: 5px;
}
.panel {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.form-inline {
    margin-bottom: 15px;
}
.form-inline:last-child {
    margin-bottom: 0px;
}
dl {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
dl:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
dt {
    margin-bottom: 3px;
}
dd {
    padding-left: 1em;
}
ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}
ol li {
    display: block;
    margin-left: 1.5em;
}
ol li:before {
    display: inline-block;
    content: counter(item) ") ";
    counter-increment: item;
    width: 1.5em;
    margin-left: -1.5em;
}
.modal {
    text-align: center;
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
textarea {
    overflow-y: auto;
    resize: none;
}
mark {
    background-color: #ff9;
    color: #606004;
    display: inline-block;
    line-height: 1em;
    padding: 3px 0;
}

/***** Typeahead style fix *****/

.twitter-typeahead .tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 5px 0;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}
.twitter-typeahead .tt-suggestion {
    font-size: 12px;
    padding: 4px 10px;
}
.twitter-typeahead .tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.twitter-typeahead .tt-notfound:hover {
    background-color: inherit;
    color: inherit;
    cursor: default;
}

/***** Wrapper *****/

html, body {
    overflow: hidden;
}
html, body,
#frame, #frame .row {
    height: 100%;
}
body {
    background: rgba(0, 0, 0, 0) url("../img/bg.jpg") no-repeat scroll center top;
    background-size: cover;
}
#frame {
    padding-top:20px;
}
.conn-cat,
#hist-panel {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

/***** Left sidebar *****/

/* Search */
#search-panel,
#conn-panel,
#hist-panel {
    float: right;
    width: 100%;
}
#search-panel .form-group,
#search-panel .form-group span,
#w-search {
    width: 100%;
}

#btn-add-w {
    float: right;
    font-size: 0.7em;
    line-height: 1;
    padding: 3px;
}

/* Connections & history */
.w-list h5 {
    font-weight: bold;
}
.w-list ul {
    margin-left: 0;
}
.w-list ul li {
    margin-top: 0.2em;
    padding: 0;
}
/*#hist-panel ul li {
    display: block;
}*/
.conn,
.hist {
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.conn:focus,
.conn:hover,
.hist:focus,
.hist:hover {
    color: #fff;
    text-decoration: underline;
}

/***** Main content *****/

.w-card,
.w-title,
.w-content,
.w-item,
.w-sns,
.w-snt,
#empty-holder {
    float: left;
    width: 100%;
}
.w-content {
    margin-top: 5px;
}
.w-content:empty {
    margin-top: 0;
}
#left-list,
#right-list {
    height: 100%;
    padding: 0 15px 0 5px;
    position: relative;
}
#left-list {
    overflow: auto;
}
#right-list {
    overflow: hidden;
}
#right-list .panel {
    margin-bottom: 15px;
}
#empty-holder {
    height: 100%;
}

/* Word */
.w-title h3 {
    display: inline-block;
    font-weight: bold;
    margin-right: 0.2em;
    margin-top: 0;
}
.w-title h3 a {
    color: #333;
    cursor: pointer;
}
.w-title .label {
    font-size: 85%;
    margin-right: 5px;
    vertical-align: super;
}
.w-item {
    margin-top: 0.5em;
    padding: 0.5em 0;
}
.w-item.focus {
    background-color: rgba(0, 0, 0, 0.05);
    margin-left: -1.5%;
    padding: 0.5em 1.5%;
    width: 103%;
}

/* Sense */
.w-sns-name,
.w-sns-content,
.w-btn-wrap {
    float: left;
}
.w-sns-name {
    color: #888;
    width: 10%;
}
.w-sns-content {
    width: 90%;
}
.w-sns-content hr {
    margin: 0.7em 0 0.5em;
}
.w-sns ul li {
    line-height: 1.4em;
    margin-bottom: 0.2em;
}
.w-sns .glyphicon-plus {
    font-size: 0.9em;
    margin-right: 0.3em;
}

/* Sentences */
.w-snt {
    border-top: 1px solid #ddd;
}
.w-snt ol li {
    line-height: 1.4em;
    margin-bottom: 0.2em;
}
.w-snt ol li:first-child {
    margin-top: 0.5em;
}

/* Button */
.w-btn-wrap {
    width: 100%;
}
.sns-btn-wrap {
    display: none;
    margin-right: 30px;
    position: absolute;
    right: 0;
}
.btn-add-sns,
.btn-add-conn,
.btn-edit-conn,
.btn-w-content {
    float: right;
}

/* Inline */
.w-grp {
    border: 1px solid #bbb;
    border-radius: 0.25em;
    display: inline-block;
    height: 1.6em;
    margin-right: 0.25em;
}
.w-grp span {
    padding: 0 5px;
}
.w-grp .sep {
    border-right: 1px solid #bbb;
    padding: 0;
}
.w-grp .sep + .sep {
    margin-left: 3px;
}
.w-grp .weak {
    border-right: 2px dotted #bbb;
    padding: 0;
}

/***** Modals *****/

.modal .form-group {
    margin-bottom: 0.5em;
}
.modal .form-group:last-child {
    margin-bottom: 0;
}

/* Add word */
#add-w-modal #add-w-name {
    width: 202px;
}
#add-w-modal .bootstrap-select {
    width: 60px;
}
#add-w-modal .form-group,
#add-w-modal textarea {
    width: 100%;
}

/* Connection */
#conn-modal .modal-sm,
#edit-conn-modal .modal-sm {
    width: 364px;
}
#conn-modal .form-group,
#edit-conn-modal .form-group {
    width: 100%;
    text-align: center;
}
#conn-from-lang + .bootstrap-select,
#conn-to-lang + .bootstrap-select,
#edit-conn-from-lang + .bootstrap-select,
#edit-conn-to-lang + .bootstrap-select {
    width: 60px;
}
#conn-from-sns + .bootstrap-select,
#edit-conn-from-sns + .bootstrap-select,
#edit-conn-to-sns + .bootstrap-select {
    width: 70px;
}
#conn-type + .bootstrap-select,
#edit-conn-type + .bootstrap-select {
    margin: 0 auto;
    width: 150px;
}
#conn-from-name,
#conn-to-name
#edit-conn-from-name,
#edit-conn-to-name, {
    width: 194px;
}
#conn-to-sns,
#edit-conn-to-sns {
    width: 70px;
}

/* Sense */
#sns-modal textarea {
    height: auto;
}
#sns-id {
    width: 70px;
}